button {
  display: block;
}

#guinea-pig.blue {
  color: blue;
}

#guinea-pig.large {
  font-size: 3rem;
}

#guinea-pig.border {
  border: 2px solid black;
}

#guinea-pig.rounded {
  border-radius: 15px;
}

